:root {
    --style-primary-color: #9C49F3;
}


.wrapper {
    width: 100vw;

}

.container {
    width: 100%;
    padding-right: calc(1.5rem * .5);
    padding-left: calc(1.5rem * .5);
    margin-right: auto;
    margin-left: auto;
    
    @media (min-width: 576px) {
        max-width:540px;
    }
    
    @media (min-width: 768px) {
        max-width:720px;
    }
    
    @media (min-width: 992px) {
        max-width:960px;
    }
    
    @media (min-width: 1200px) {
        max-width:1140px;
    }
    
    @media (min-width: 1400px) {
        max-width:1320px;
    }
}

.header {
    top: 0;
    position: sticky;

    background-color: var(--style-menu-background-color);
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;

    padding-top: calc(0.75rem * .5);
    padding-bottom: calc(1.5rem * .5);
    
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__logo {
        height: 45px;
    }

    &__username {
        font-weight: 100;

        a {
            color: inherit;
            text-decoration: none;
            transition: color .3s;

            &:after {
                content: "";
                display: block;
                width: 100%;
                height: 2px;
                background-color: var(--style-foreground-color);
                transform: translateY(-7px) scaleX(0);
                transform-origin: top left;
                transition: transform 0.3s ease, background-color .3s ease;
            }
    
            &:hover {
                color: var(--style-interact-foreground-color);

                &:after {
                    transform: translateY(-7px) scale(1);
                    background-color: var(--style-interact-foreground-color);
                }
            }
        }
    }
}

.section {
    margin-top: 3rem;

    &__top {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        margin-bottom: 1rem;
    }

    &__name {
        font-size: 3em;
        line-height: 1em;

        box-shadow: inset 0 -0.3em 0 0 magenta;
        
        // alternative design
        /* &:after {
            content: "";
            display: block;
            width: 90px;
            height: 3px;
            background-color: var(--style-primary-color);
            transform: translateY(-0.35em);
        } */
    }

    &__btn {
        text-decoration: none;
        font-size: 1.3em !important;
        padding: 10px 20px !important;
        border-radius: 16px !important;

        span {
            margin-left: 5px;
        }

        @media (max-width: 575px) {
            padding: 15px !important;
            
            span {
                display: none;
            }
        }
    }

    &__grid {
        display: grid;
        column-gap: 2rem;
        row-gap: 1rem;

        // for small devices
        grid-template-columns: 1fr;
        
        // for bigger devices
        @media (min-width: 576px) {
            grid-template-columns: repeat(2, 1fr);
        }
        
        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.card {
    height: 200px;
    display: grid;
    place-items: center;
    border-radius: 16px;
    border: 2px solid red;

    &__text {
        font-size: 3em;
        text-align: center;
    }
}