/*! TODO: Fix Styling... */

*, ::after, ::before {
	box-sizing: border-box;
}

@media (prefers-color-scheme: light) {
	:root {
		--style-background-color: #ffffff;
		--style-foreground-color: #1f2328;
	
		--style-grid-color: #f0f6fc10;
		
		--style-menu-background-color: #f6f8fa;
		--style-menu-border-color: #d0d7de;
	
		--style-interact-bar-background-color: #d9dcdf;
		--style-interact-foreground-color: #24292f;
		
		--style-input-background-color: #fdfdfd;
		--style-interact-background-color: #f6f8fa;
		--style-interact-hover-background-color: #f3f4f6;
		--style-interact-active-background-color: #ebecf0;
		
		--style-interact-border-color: #1f232826;
		--style-interact-hover-border-color: #1f232826;
		--style-interact-active-border-color: #1f232826;
		
		--style-important-background-color: #3d9154;
		--style-important-foreground-color: #ffffff;
		--style-important-hover-background-color: #3d9154;
	}
}

@media (prefers-color-scheme: dark) {
	:root {
		--style-background-color: #0d1117;
		--style-foreground-color: #eeeeee;
	
		--style-grid-color: #f0f6fc10;
		
		--style-menu-background-color: #050608;
		--style-menu-border-color: #f0f6fc1a;
	
		--style-interact-bar-background-color: #1a1e22;
		--style-interact-foreground-color: #c9d1d9;
		
		--style-input-background-color: #0d1117;
		--style-interact-background-color: #21262d;
		--style-interact-hover-background-color: #30363d;
		--style-interact-active-background-color: #282e33;
		
		--style-interact-border-color: #f0f6fc1a;
		--style-interact-hover-border-color: #f0f6fc4d;
		--style-interact-active-border-color: #f0f6fc4d;
		
		--style-important-background-color: #317034;
		--style-important-hover-background-color: #317034;
		--style-important-foreground-color: #c9d1d9;
	}
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: var(--style-background-color);
	color: var(--style-foreground-color);
	font-family: system-ui, sans-serif;
}

textarea, input, button, .btn, .text-inp, .text-area, .interact {
	padding: 5px 5px;
	border-radius: 6px;
	background-color: var(--style-interact-background-color);
	border: solid 1px var(--style-interact-border-color);
	color: var(--style-interact-foreground-color);
	transition-property: color, background-color, box-shadow, border-color;
	transition-duration: 80ms;
	transition-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
}

textarea {
	resize: none;
	height: 100%;
}

input, button, .btn, .text-inp, .interact {
	display: inline-block;
	line-height: 20px;
	font-size: 14px;
	vertical-align: middle;
	user-select: none;
}

input:hover, button:hover, .btn:hover {
	text-decoration: none;
	background-color: var(--style-interact-hover-background-color);
	border: solid 1px var(--style-interact-hover-border-color);
	transition-duration: .1s;
}

textarea, input, .text-inp, .text-area {
	user-select: all;
	box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.04);
	background-color: var(--style-input-background-color);
}

textarea:hover, input:hover, .text-inp:hover, .text-area:hover {
	background-color: var(--style-input-background-color);
}

button, .btn {
	cursor: pointer;
	font-weight: 500;
	padding: 5px 16px;
}

button.icon, .btn.icon {
	padding: 7px;
	line-height: 0;
}

button:focus, .btn:focus, input:focus, .text-inp:focus, textarea:focus { outline: none; }
button:active, .btn:active {
	background-color: var(--style-interact-active-background-color);
	border: solid 1px var(--style-interact-active-border-color);
}

button.important, .btn.important {
	color: var(--style-important-foreground-color);
	background:
		linear-gradient(
			#f0f6fc1a,
			#00000000
		),
		var(--style-important-background-color);
}

button.important:active, .btn.important:active {
	background:
		linear-gradient(
			#00000000,
			#f0f6fc1a
		),
		var(--style-important-background-color);
}
