body::before {
	content: "";
	position: fixed;
	width: 200%;
	height: 200%;
	top: -50%;
	left: -50%;
	z-index: 0;
	background-image: url("./bg.svg");
	background-size: 50vh;
	background-position: center;
	animation: 720s anim linear infinite;

	@keyframes anim {
		from {
			transform: rotate(0);
		}
		to {
			transform: rotate(360deg);
		}
	}
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	overflow: hidden;
	width: 100%;
	position: relative;

	// background-image: url("./bg.svg");
	// background-size: 100vh;
	// background-position: center;
	// background-repeat: no-repeat;
}

.main-wrapper {
	header {
		display: flex;
	}
}

.input-wrapper {
	&__label {
		margin-bottom: 3px;
		margin-left: 6px;
	}
}

.auth-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1;

	&__bg {
		position: absolute;
		height: 72vh;
		background-image: url('./brad.svg');
		background-size: 100%;
		background-repeat: no-repeat;
		user-select: none;
	}

	&__input {
		margin-bottom: 1rem;
		transition: .5s;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__title {
		margin-bottom: 2rem;
		text-align: center;
		animation: rainbow-text-anim 15s linear infinite;
		background-size: 200%;
		z-index: 2;

		@keyframes rainbow-text-anim {
			from {
				background-position: 0%;
			}
			to {
				background-position: 200%;
			}
		}

		background-image: linear-gradient(
			45deg,
			#CA4246 16.666%,
			#E16541 16.666%,
			#E16541 33.333%,
			#F18F43 33.333%,
			#F18F43 50%,
			#8B9862 50%,
			#8B9862 66.666%,
			#476098 66.666%,
			#476098 83.333%,
			#A7489B 83.333%
		);
		background-repeat: repeat;
		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent; 
	}

	&__wrapper {
		z-index: 2;
	}

	&__link {
		text-align: center;
		margin-top: 10px;

		a {
			text-decoration: none;
			color: inherit;
			opacity: .4;
			transition: .25s;

			&:hover {
				opacity: 1;
				color: var(--style-interact-hover-border-color);
			}
		}
	}

	&__tos {
		display: flex;
		align-items: center;
		margin-bottom: 0;
		margin-left: 6px;
		transition: .5s;
		
		span {
			margin-left: .5rem;
		}
	}

	.disabled {
		position: absolute;
		opacity: 0;
		z-index: -1;
	}
}

.status {
	&__wrapper {
		position: absolute;
		display: flex;
		flex-direction: column;
		bottom: 8vh;
	}

	&__box {
		font-size: smaller;
		text-align: center;
		margin-top: .5rem;
		color: var(--style-error-text-color);
		background-color: var(--style-error-background-color);
		padding: 5px 10px;
		border-radius: 10px;
		border: 2px solid var(--style-error-text-color)
	}
}

.footer {
	display: flex;
	align-items: flex-start;
	position: absolute;
	bottom: 0;
	right: 20px;
	text-align: center;
	opacity: .5;
	font-weight: lighter;
	overflow: hidden;
	user-select: none;

	&__img {
		margin: 0 3px;
		z-index: 2;
		background-color: var(--style-background-color);
	}

	&__right-wrapper {
		align-items: center;
		opacity: 0;

		display: flex;
		// transition: transform .5s, opacity .2s;
		transform: translateX(100%);
		animation: .5s text-anim-rev;
	}
	
	&:hover &__right-wrapper {
		animation: .5s text-anim;
		transform: translateX(0);
		opacity: 1;
	}

	@keyframes text-anim {
		0% {
			opacity: 0;
			transform: translateX(100%);
		}

		50% {
			opacity: 0;
			transform: translateX(50%)
		}

		100% {
			transform: translateX(0);
			opacity: 1;
		}
	}

	@keyframes text-anim-rev {
		0% {
			transform: translateX(0);
			opacity: 1;
		}
		
		50% {
			opacity: 0;
			transform: translateX(50%)
		}
		
		100% {
			opacity: 0;
			transform: translateX(100%);
		}
	}
}