html, body {
	width: 100%;
	height: 100%;
}

main {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;

	background-image: url("./bg.svg");
	background-size: 100vh;
	background-position: center;
	background-repeat: no-repeat;
}

.main-wrapper {
	header {
		display: flex;
	}
}

.input-wrapper {
	&__label {
		margin-bottom: 3px;
		margin-left: 6px;
	}
}

.auth-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	&__input {
		margin-bottom: 1rem;

		&:last-child {
			margin-bottom: 0;
		}
	}

	&__title {
		margin-bottom: 2rem;
		text-align: center;
		animation: rainbow-text-anim 15s linear infinite;
		background-size: 200%;

		@keyframes rainbow-text-anim {
			from {
				background-position: 0%;
			}
			to {
				background-position: 200%;
			}
		}

		background-image: linear-gradient(
			45deg,
			#CA4246 16.666%,
			#E16541 16.666%,
			#E16541 33.333%,
			#F18F43 33.333%,
			#F18F43 50%,
			#8B9862 50%,
			#8B9862 66.666%,
			#476098 66.666%,
			#476098 83.333%,
			#A7489B 83.333%
		);
		background-repeat: repeat;
		-webkit-background-clip: text;
  		-webkit-text-fill-color: transparent; 
	}

	&__link {
		text-align: center;
		margin-top: 10px;

		a {
			text-decoration: none;
			color: inherit;
			opacity: .2;
			transition: .25s;

			&:hover {
				opacity: 1;
				color: var(--style-interact-hover-border-color);
			}
		}

	}
}

.status {
	&__wrapper {
		position: absolute;
		display: flex;
		flex-direction: column;
		bottom: 8vh;
	}

	&__box {
		font-size: smaller;
		text-align: center;
		margin-top: .5rem;
		color: var(--style-error-text-color);
		background-color: var(--style-error-background-color);
		padding: 5px 10px;
		border-radius: 10px;
		border: 2px solid var(--style-error-text-color)
	}
}

.footer {
	display: flex;
	position: absolute;
	bottom: 20px;
	right: 20px;
	text-align: center;
	opacity: .5;
	font-weight: lighter;
	overflow: hidden;
	user-select: none;

	&__img {
		margin: 0 3px;
		z-index: 2;
		background-color: var(--style-background-color);
	}

	&__right-wrapper {
		align-items: center;
		opacity: 0;

		display: flex;
		transition: transform .5s, opacity .5s;
		transform: translateX(100%);
	}

	&:hover &__right-wrapper {
		transform: translateX(0);
		opacity: 1;
	}
}