body {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
	overflow: auto; /* HACK */
}

main {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 1rem;
}

.node-editor-wrap {
	position: relative;
	width: 100%;
	height: 100%;
}

.content-editor {
	position: absolute;
	width: 40vw;
	right: 0;
	top: 0;
	height: 100%;
	padding: 1rem;
	border: 1px solid var(--style-interact-border-color);
	border-radius: 6px;
	background-color: var(--style-interact-background-color);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04);
}

.content-editor-header {
	width: 100%;
	flex-shrink: 1;
	display: flex;
	flex-direction: row;
	justify-content: start;
	gap: 1rem;
}

.content-editor-header > button {
	flex-shrink: 1;
}

.content-editor-header > input {
	flex-grow: 1;
}

.node-editor {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-attachment: local;
	/* background-size: 40px 40px; -- in JS */
	background-image:
		radial-gradient(
			circle,
			var(--style-grid-color) 1px,
			rgba(0, 0, 0, 0) 1px
		);
}

.node {
	position: absolute;
	display: flex;
	/* width: 100px; -- in JS */
	/* height: 100px; -- in JS */
}

.node.selected > .node-body {
	border: 2px solid #78a3b1a4;
}

.node-bar {
	display: block;
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
	background: var(--style-interact-bar-background-color);
	border-bottom: solid 1px var(--style-interact-border-color);
	padding: 5px 5px;
	font-size: 14px;
	width: 100%;
	white-space: nowrap;
	text-align: center;
	overflow: hidden;
	text-overflow: ellipsis;
}

.node-content {
	padding: 5px;
	font-size: 10px;
	text-align: center;
}

.node > .node-body {
	width: 100%;
	height: 100%;
	flex-direction: column;
	overflow: hidden;
	padding: 0;
}

.node-pin {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 3;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background: var(--style-interact-bar-background-color);
	border: 1px solid var(--style-interact-hover-border-color);
}

.node-pin:hover {
	background: var(--style-interact-background-color);
}

.node-pin.input {
	left: -3px;
}

.node-pin.output {
	right: -3px;
}

.node-con {
	position: absolute;
	pointer-events: none;
}

.node-con > svg {
	display: block;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	pointer-events: all;
}

.menu-bar {
	padding: 0.5rem;
	background-color: var(--style-menu-background-color);
	border-bottom: 1px solid var(--style-menu-border-color);
	display: flex;
	gap: 0.5rem;
}
